Temp/*
*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/[Bb]uild/
*/[Bb]uilds/
*/[Ll]ogs/
*/[Mm]emoryCaptures/
!/[Aa]ssets/**/*.meta
/[Aa]ssets/TextMeshPro/
*/.vs/
*ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.unitypackage
crashlytics-build.properties